body {
    background: white;
}

#tagline {
    background-image: url(/website/assets/img/bg.jpg);
    height: 40vh;
    margin-bottom: 4rem;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 7rem;
}

img {
    height: 300px;
    width: 300px;
}

.container-fluid {
    padding: 0;
}