body{
    background: #BDBDBD;
}
.tag-line{
    background-image: url(/website/assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}