<div class="row p-3">
    <div class="col-9">
        <div class="d-flex">
            <h3>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio omnis porro minus tempore. Ducimus
            distinctio saepe quas exercitationem ipsum magnam praesentium nisi iure nobis animi, ullam rem porro ex,
            provident numquam odio similique rerum sit eaque laboriosam. Explicabo soluta optio dicta, ad id, voluptate
            consectetur cupiditate laboriosam nemo ipsa odit rem reiciendis eveniet. Ducimus magnam mollitia tempore cum
            architecto!</p>
    </div>
    <div class="col-3">
        <img class="img-fluid rounded-circle" src="/website/assets/img/1.jpg" />
    </div>
</div>