<div class="container">
    <div class="row">
        <div class="col-9">
            <h4 class="text-capitalize">this first heading <span class="text-secondary">will catch your eye</span></h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis atque quibusdam quae exercitationem
                aliquam, in sint beatae nemo sunt tempora. Quam aut expedita voluptas ducimus qui! Aliquam, esse
                explicabo? Optio eaque ipsam, sapiente error, aspernatur odit provident quos rem odio voluptatum illo
                laboriosam hic in minima possimus necessitatibus vitae at, sed quae blanditiis. Nisi dolorum sint
                tempora dolorem fugiat necessitatibus!</p>
        </div><!-- texto -->
        <div class="col-3">
            <img class="img-fluid rounded-circle" src="/website/assets/img/1.jpg">
        </div><!-- imagen -->
    </div>
</div>