<div class="container mt-5">
    <!--titulo-->
    <h2>Portafolio</h2>
    <p class="text-muted">
        Donec ullamcorper nulla non metus auctor fringilla, Vestibulum id ligula porta felis
        euismod semper, Praesent commodo cursus magna, Vel scelerisque nisl consectetur.
        Fusce dapibus, tellus ac cursus commodo.
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="bg-secondary bg-opacity-25 text-center py-5 mb-3">
                700x400
            </div>
            <h5 class="text-primary">Project Name</h5>
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio.
            </p>
        </div>

     
        <div class="col-md-4">
            <div class="bg-secondary bg-opacity-25 text-center py-5 mb-3">
                700x400
            </div>
            <h5 class="text-primary">Project Name</h5>
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio.
            </p>
        </div>

        
        <div class="col-md-4">
            <div class="bg-secondary bg-opacity-25 text-center py-5 mb-3">
                700x400
            </div>
            <h5 class="text-primary">Project Name</h5>
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio.
            </p>
        </div>

    </div>
</div>