<div class="container">
    <div class="row p-3">
        <div class="col-3">
            <img class="img-fluid rounded-circle" src="/website/assets/img/2.jpg">
        </div>
        <div class="col-9">
            <h3 class="text-capitalize">the second heading <span class="text-secondary">is pretty cool too.</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit molestias excepturi aliquam et, minima velit
                incidunt fugiat, dolorum qui voluptatem, debitis accusantium ullam. Fugiat laboriosam explicabo deleniti
                sit
                nostrum ea exercitationem vitae, consectetur necessitatibus asperiores voluptatem maiores debitis sed
                neque
                non voluptate eum rerum provident, impedit iure molestias dolores. Dignissimos nobis incidunt soluta
                pariatur et neque iste quibusdam voluptatum nostrum?</p>
        </div>
    </div>
</div>